#titleSection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
#titleSection-container h1 {
  font-size: 3em;
  letter-spacing: 0.3em;
  font-weight: 900;
  font-family: var(--font-title-section);
  text-align: center;
  line-height: 0.5em;
  transition-duration: 1s;
  padding: 0 0 0 0.2em;
}

#titleSection-container div {
  background-color: white;
  height: 0.05em;
  width: 0;
  transition-duration: 0.4s;
}

#titleSection-container div:hover div,
#titleSection-container:hover div {
  background-color: var(--color-spotted);
}




#titleSection-container h1:hover{
  font-size: 3.2em !important;
}

#titleSection-container div:first-of-type{

}