@media screen and (max-width: 700px) {
  #header-container{
      background-color: yellow;
      width: 15vw !important;
      justify-content: center !important;
      position: absolute !important;
      height: 10vh !important;
    }
    #header-container nav{
      display: none !important;
    }
    header#header-container nav ul {
    }
    
  }