header#header-container {
  position: fixed;
  background-color: var(--color-block-background);
  width: 8vw;
  height: 100vh;
  font-family: Quicksand;
  box-shadow: 1px 1px 15px black;
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  animation: navBoxShadow 3s linear infinite;
}

@keyframes navBoxShadow {
  0% {
    box-shadow: 1px 1px 5px black;
  }
  50% {
    box-shadow: 1px 1px 50px black;
  }
  100% {
    box-shadow: 1px 1px 10px black;
  }
}

header#header-container > div {
  display: flex;
  justify-content: center;
  transition-duration: 0.5s;
  box-sizing: border-box;
}
header#header-container > div:hover {
  background-color: var(--color-background);
  padding-top: 1em;
}
header#header-container > div:hover p:first-of-type {
  transform: rotate(180deg);
  text-decoration: none;
}
header#header-container > div:hover p:last-of-type {
  margin-top: 0.1em;
  transform: rotate(-360deg);
  text-decoration: none;
}

header#header-container > div > div {
  position: absolute;
  font-size: 2em;
  transform: rotate(180deg);
  right: 1%;
  transition: 2s top, 3s transform, 2s right;
  top: -6%;
}

header#header-container > div:hover div {
  transform: rotate(150deg);
  right: 1%;
  top: -1.5%;
}
header#header-container > div p {
  transition: 1s transform, 1s margin-top;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 0;
  width: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: line-through;
}
header#header-container > div p:first-of-type {
  transform: scale(-1, 1);
}
header#header-container > div p + p {
  margin-left: -0.25em;
}

header#header-container nav {
  flex-grow: 1;
  display: flex;
}
header#header-container nav ul {
  font-size: 1.3em;
  width: 8vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin: 0;
  padding: 0;
}
header#header-container nav ul li {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition-duration: 0.3s;
}

.select,
header#header-container nav ul li:hover {
  background-color: var(--color-background);
  width: 110%;
  padding-bottom: 0.4em;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  box-shadow: 1px 1px 10px var(--color-background);
}
header#header-container nav ul li a {
  transition-duration: 0.4s;
}
header#header-container nav ul li:hover a {
  transform: rotate(360deg);
}
