#resume-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: var(--color-background);
  background-image: linear-gradient(to top, var(--color-background3),var(--color-background)); */

}