#landing-container{
    background-color: var(--color-background3);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#landing-fita{
    background-color: var(--color-block-background);
    color:white;
    height: 2em;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 2em;
    position:absolute;
    top: 5%;
    right: -10%;
    transform: rotate(30deg);
    text-decoration: overline;
    font-family:var(--font-title-section);
    outline:0.1px solid green;
    border:0.1px solid lightgreen;
}

#photo-container{
display: grid;
grid-template-columns: 2fr 1fr 1fr;
grid-template-rows: 2fr 1fr 1fr;
column-gap: 2em;
row-gap: 0em;
align-items: center;
grid-template-areas: 
    "button foto foto"
    "button foto foto"
    "nome nome nome"
;
}

#photo-container img{
    box-shadow: 1px 1px 10px black;
    height: 15em;
    border-radius: 50%;
    grid-area: foto;
    animation: BoxShadowFoto 6s linear infinite;
    border: 1px solid black;
}





@keyframes BoxShadowFoto{
    0%{
        box-shadow: 1px 1px 10px white;
        border: 1px solid yellow;

    }
    20%{
        box-shadow: 1px 1px 40px black;
        border: 1px solid black;

    }
    40%{
        box-shadow: 1px 1px 20px yellow;
        border: 1px solid green;

    }
    60%{
        box-shadow: 1px 1px 70px black;
        border: 1px solid black;

    }
    80%{
        box-shadow: 1px 1px 20px green;
        border: 1px solid white;
    }
    99%{
        box-shadow: 1px 1px 10px white;
        border: 1px solid yellow;

    }

}
#photo-container button{
    display: flex;
    align-items: center;
    justify-content: center;
    border:0;
    font-style: italic;
    background-color: var(--color-block-background);
    color: var(--color-text-light);
    font-family: var(--font-text-button);
    font-size: 1.05em;
    height: 2.5em;
    border-bottom: 1px solid var(--color-spotted);
    border-right: 1px solid var(--color-spotted);
    border-top: 1px solid var(--color-background);
    border-left: 1px solid var(--color-background);
    box-shadow: 3px 3px 7px var(--color-spotted);

    border-bottom-left-radius:0.7em;
    border-top-right-radius:0.7em;


    transition-duration: 1.55s;
}

#photo-container button:hover{
    animation: chacoalhar 0.15s ease-in;
    cursor: pointer;
    box-shadow: -1px -1px 3px var(--color-spotted) !important;

    border-bottom-right-radius:0.7em;
    border-top-left-radius:0.7em;
    border-bottom-left-radius:0em;
    border-top-right-radius:0em;

    border-top: 1px solid var(--color-spotted);
    border-left: 1px solid var(--color-spotted);

    border-bottom: 1px solid var(--color-background);
    border-right: 1px solid var(--color-background);


}

@keyframes chacoalhar{
    0%{
        transform: rotate(-4deg);
    }
    50%{
        transform: rotate(4deg);

    }
    100%{
        transform: rotate(0deg);

    }
}


#photo-container button:focus{
    border: 0;
    box-shadow: 0 0 var(--color-background);
    outline: 1px solid var(--color-spotted);
}
#photo-container button i{
    font-size: 0.8em;
    display: none;
}


#photo-container > p{
    color:var(--color-text-light);
text-align: center;
font-family:var(--font-title-section);
font-size: 1.6em;
/* text-decoration: line-through; */
grid-area: nome;
}