#skills-block-container{
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}
#skills-block-container div{
  display: flex;
  width: 100%;
  margin-bottom: 2em;
}
#skills-block-container div fieldset{
  width: 75%;
}
