:root {
  --color-background: #030101;
  --color-text-dark: #040c05;
  --color-block-background: #0f0d2a;
  --color-text-light: #DDB;
  --color-background3: #090816;
  --color-background: #0c0a20;
  --color-spotted:rgba(0,250,0,0.4);
  --font-text-button:"Oxygen";
  --font-text-block:"Oxygen";
  --font-title-section:"Roboto Mono";
  --font-title-section:"Jura";
  --font-text-general:'Mulish', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  overflow-x: hidden;
  color:#DDB;
  font-family: var(--font-text-light);
}

.App{
  display: flex;
  width: 100%;
}


a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

h2 , h3 , h4 ,h5 ,h6{
  font-family: var(--font-text-general);
}