:root {
  --color-background: #030101;
  --color-text-dark: #040c05;
  --color-block-background: #0f0d2a;
  --color-text-light: #fff;
  --color-background3: #090816;
  --color-background: #0c0a20;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  overflow-x: hidden;
}

.App{
  display: flex;
  width: 100%;
}
#content{
  width: 92%;
  margin-left: 8vw;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
